body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #333;
} 

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Card Grid */
.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    margin-top: 30px;

}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px); /* Adjust hover effect */
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;/* Ensure card content fills the entire height */
}

.card-title {
    margin-top: 0;
    text-align: center;
}

.card-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-description {
    margin-bottom: 10px;
}

/* Add button styling */
.add-button {
    margin-top: auto; /* Align button to the bottom of the card */
    width: 100%;
    padding: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #c82333; /* Darker blue on hover, adjust as needed */
}
