<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    <link rel="stylesheet" href="../style/menu.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="title">
        <h1> Recipes Application</h1>
        <h4> Welcome to my Website</h4>
    </div>

    <div class="topnav" id="myTopnav">
        <a href="../index.html" class="active">Home</a>
        <a href="menu.html">My Menu</a>
        <a href="groceries.html">Groceries</a>
        <a href="contact.html">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="menu" id="menu"></div>
    <script src="../js/main.js"></script>
    <script src="../js/menu.js"></script>
</body>
</html>

